{% extends 'aboutMe/base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
<h1 class="display-4">Welcome to My Interactive Resume</h1>
<p class="lead">Explore my skills and test your knowledge!</p>

<!-- Name Surname -->
    <h1 class="display-5">Mikhail Ronchyk</h1>
<!-- Specialty -->
    <h2 class="display-6">Python Developer</h2>
<!-- Photo -->
    {% load static %}
    <img src="{% static 'images/CVphoto.png' %}" alt="Beautiful guy in shirt" width="250" height="250" class="scale">
<!-- Skills -->
<!-- Languages -->
<!-- Description -->
<!-- Work Experience -->
<!-- Education -->
<!-- Projects -->
<!-- Courses -->


{% endblock %}
